[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/freetype/freetype"]
	path = thirdparty/freetype/freetype
	url = git@github.com:freetype/freetype.git
[submodule "assimp"]
	path = thirdparty/assimp/assimp
	url = https://github.com/assimp/assimp.git
